# vim
*.sw?
tags

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# cpack
_CPack_Packages
CPackConfig.cmake
CPackSourceConfig.cmake
*-?.?.?.tar.Z
*-?.?.?.tar.bz2
*-?.?.?.tar.gz
